.footer-main
    border-top: 1px solid $epsilon
    padding: 32px 0
    margin: 60px 0 0
    font-size: 1.3rem
    color: $gama
    font-weight: 400
    text-align: center
    position: relative

    &:before
        display: block
        content: " "
        width: 7px
        height: 7px
        border: $epsilon 1px solid
        position: absolute
        top: -5px
        left: 50%
        margin-left: -5px
        background: #fafaf9
        box-shadow: #fafaf9 0 0 0 5px
        border-radius: 2px

    > .link
        display: inline

        > .icon
            width: 14px !important
            fill: $gama !important
            transition: fill 0.15s ease
            position: relative
            top: 3px
            display: inherit
            margin: 0

            &:hover
                fill: $alpha !important

    > .extra
        color: $gama
        margin-top: 0

        > .link
            color: $alpha
            text-decoration: none
            transition: color 0.15s ease
            padding-bottom: 1px

            &:hover
                color: $beta
